.grid {

display: grid;
width: 600px;
height: 600px;

grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
column-gap: 5px;
row-gap: 5px;

}

.grid_cell

{
  
border-style: solid;

border-color: lightgray;
background-color: lightskyblue;
width: 100%;
height: 100%;

}
